<p class="blog-header">
  <h1 class="blog-title"><%= @post.title %></h1>
</p>

<p class="blog-main">
  <%= @post.body %>
</p>

<ul class="pager">
  <li><%= link_to 'Edit', edit_post_path(@post) %></li>
  <li><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <li><%= link_to 'Back', posts_path %></li>
</ul>
